version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: leemoney93/ci
#    command: /start
    volumes:
      - .:/app
    expose:
      - 8000
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'ci'
      MYSQL_USER: 'admin'
      MYSQL_PASSWORD: 'admin123'
      MYSQL_ROOT_PASSWORD: 'admin123'
      MYSQL_ROOT_HOST: '%'
    command:
      - --character-set-server=utf8
      - --collation-server=utf8_general_ci
    ports:
      - '3306:3306'
    expose:
      - '3306'